/*-------------------*/
/* >>>> Theme.scss   */
/*-------------------*/


$space-mono: "Space Mono", monospace;
$sans-serif: "Inter", sans-serif;


//
/* Font-size */
//
$font-weight-strong: 500 !default;
$font-size-h1: clamp(2rem, 6vw, 4.5rem);
$font-size-h2: clamp(1.5rem, calc(2vw + .75rem), 2.25rem); //will grow from 600vw to 1200vw (assuming browser is set to default for font-size and zoom)
$font-size-h3: 1.25rem;
$font-size-h4: 1.35rem;
$font-size-text: 1.15rem;

$font-sizes: (
  h1: $font-size-h1,
  h2: $font-size-h2,
  h3: $font-size-h3,
  h4: $font-size-h4,
  text: $font-size-text,
);


//
/* Colors */
//
$color-primary: #DD2471;
$color-secondary: #A132E5;
$text-link-color: $color-primary;
$white: #fff;
$black: #000;

@mixin gradient-primary($opacity) {
  background: linear-gradient(130.1deg, rgba(251, 154, 154, $opacity) 6.59%, rgba(253, 167, 255, $opacity) 43.21%, rgba(201, 192, 255, $opacity) 92.14%);
}

$colors: (
    "primary": $color-primary,
    "secondary": $color-secondary,
    "text-link-color": $text-link-color,
);

//
/* Illustrations */
//
@function svgColor($color) {
  @return "%23" + str-slice("#{$color}", 2, -1);
}

@mixin corner-box($bg, $stroke) {
  background-image:     url("data:image/svg+xml,%3Csvg width='25' height='25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h24L0 24V0z' fill='#{svgColor($bg)}'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M24.707.707l-24 24L0 24 24 0l.707.707z' fill='#{svgColor($stroke)}'/%3E%3C/svg%3E");
}

$fire-gradient:         conic-gradient(from 160.09deg at 58.9% 73.55%, #FFCB14 -1.25deg, #EB1832 189.59deg, #FFCB14 358.75deg, #EB1832 549.59deg);

$site-logo:             url("data:image/svg+xml,%3Csvg width='58' height='58' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23a)'%3E%3Cpath d='M29 29h29V0H0v58h29V29z' fill='%23FDFAFF'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='a' x='0' y='0' width='58' height='62' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeColorMatrix in='SourceAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='4'/%3E%3CfeGaussianBlur stdDeviation='2'/%3E%3CfeComposite in2='hardAlpha' operator='arithmetic' k2='-1' k3='1'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend in2='shape' result='effect1_innerShadow'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
$sun:                   url("data:image/svg+xml,%3Csvg width='293' height='584' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 292c0 160.715 127.8 291 291 291V1C129.8 1 2 131.285 2 292z' fill='%23fff'/%3E%3Cpath d='M293 494.414c-112.259 0-203.263-90.848-203.263-202.914C89.737 179.434 180.74 88.586 293 88.586' fill='url(%23a)'/%3E%3Cpath d='M66.377 291.5C66.377 166.559 167.844 65.266 293 65.266' class='b'/%3E%3Cpath d='M293 517.734c-125.156 0-226.623-101.293-226.623-226.234' class='b c'/%3E%3Cpath d='M45.452 291.5C45.452 155.019 156.285 44.377 293 44.377' class='b'/%3E%3Cpath d='M293 538.623c-136.715 0-247.548-110.643-247.548-247.123' class='b c'/%3E%3Cpath d='M24.614 291.5C24.614 143.524 144.77 23.575 293 23.575' class='b'/%3E%3Cpath d='M293 559.425c-148.231 0-268.386-119.949-268.386-267.925' class='b c'/%3E%3Cpath d='M2 291.5C2 131.065 132.289 1 293 1' class='b'/%3E%3Cpath d='M293 582C132.289 582 2 451.935 2 291.5' class='b c'/%3E%3Cdefs%3E%3ClinearGradient id='a' x1='116.402' y1='83.863' x2='331.124' y2='287.48' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FB9A9A'/%3E%3Cstop offset='.428' stop-color='%23FDA7FF'/%3E%3Cstop offset='1' stop-color='%23C9C0FF'/%3E%3C/linearGradient%3E%3Cstyle%3E.b%7Bstroke:%231d262d;stroke-miterlimit:10%7D.c%7Bstroke-width:4%7D%3C/style%3E%3C/defs%3E%3C/svg%3E%0A");
$gradient-solar-system: url("data:image/svg+xml,%3Csvg width='389' height='389' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='194.5' cy='194.5' r='31.5' stroke='url(%23prefix__a)' stroke-width='2'/%3E%3Ccircle cx='194.5' cy='194.5' r='61.5' stroke='url(%23prefix__a)' stroke-opacity='.3' stroke-width='4'/%3E%3Ccircle cx='194.5' cy='194.5' r='104.5' stroke='url(%23prefix__a)' stroke-width='2'/%3E%3Ccircle cx='194.5' cy='194.5' r='124.5' stroke='url(%23prefix__a)' stroke-opacity='.3' stroke-width='4'/%3E%3Ccircle cx='194.5' cy='194.5' r='170.5' stroke='url(%23prefix__a)' stroke-opacity='.3' stroke-width='4'/%3E%3Ccircle cx='194.5' cy='194.5' r='193.5' stroke='url(%23prefix__a)' stroke-width='2'/%3E%3Cdefs%3E%3ClinearGradient id='prefix__a' x1='51.032' y1='-4.527' x2='409.738' y2='297.501' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FB9A9A'/%3E%3Cstop offset='.428' stop-color='%23FDA7FF'/%3E%3Cstop offset='1' stop-color='%23C9C0FF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
$plain-solar-system:    url("data:image/svg+xml,%3Csvg width='590' height='590' stroke='#{svgColor($color-primary)}' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='290' cy='290' r='50' stroke-width='3'/%3E%3Ccircle cx='290' cy='290' r='70' stroke-width='2.77'/%3E%3Ccircle cx='290' cy='290' r='90' stroke-width='2.55'/%3E%3Ccircle cx='290' cy='290' r='110' stroke-width='2.55'/%3E%3Ccircle cx='290' cy='290' r='130' stroke-width='2.33'/%3E%3Ccircle cx='290' cy='290' r='150' stroke-width='2.1'/%3E%3Ccircle cx='290' cy='290' r='170' stroke-width='1.86'/%3E%3Ccircle cx='290' cy='290' r='190' stroke-width='1.64'/%3E%3Ccircle cx='290' cy='290' r='210' stroke-width='1.41'/%3E%3Ccircle cx='290' cy='290' r='230' stroke-width='1.18'/%3E%3Ccircle cx='290' cy='290' r='250' stroke-width='.95'/%3E%3Ccircle cx='290' cy='290' r='270' stroke-width='.73'/%3E%3Ccircle cx='290' cy='290' r='290' stroke-width='.5'/%3E%3C/svg%3E%0A");
$gradient-square:       url("data:image/svg+xml,%3Csvg width='500' height='500' fill='none' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cg id='c' stroke-width='2'%3E%3Cpath d='M1 87.5L324 2v262L1 349.5v-262z' stroke='url(%23a)' /%3E%3Cpath d='M1 87.5L324 2v262L1 349.5v-262z' stroke='url(%23b)' /%3E%3Cpath d='M5 91.5L328 6v262L5 353.5v-262z' stroke='url(%23a)'/%3E%3Cpath d='M5 91.5L328 6v262L5 353.5v-262z' stroke='url(%23b)'/%3E%3Cpath d='M9 95.5L332 10v262L9 357.5v-262z' stroke='url(%23a)' /%3E%3Cpath d='M9 95.5L332 10v262L9 357.5v-262z' stroke='url(%23b)' /%3E%3Cpath d='M13 99.5L336 14v262L13 361.5v-262z' stroke='url(%23a)' /%3E%3Cpath d='M13 99.5L336 14v262L13 361.5v-262z' stroke='url(%23b)' /%3E%3C/g%3E%3C/defs%3E%3Cuse xlink:href='%23c' /%3E%3Cuse xlink:href='%23c' x='4' y='4' /%3E%3Cuse xlink:href='%23c' x='20' y='20' /%3E%3Cuse xlink:href='%23c' x='36' y='36' /%3E%3Cuse xlink:href='%23c' x='40' y='40' /%3E%3Cuse xlink:href='%23c' x='56' y='56' /%3E%3Cuse xlink:href='%23c' x='72' y='72' /%3E%3Cuse xlink:href='%23c' x='88' y='88' /%3E%3Cuse xlink:href='%23c' x='104' y='104' /%3E%3Cuse xlink:href='%23c' x='120' y='120' /%3E%3Cuse xlink:href='%23c' x='136' y='136' /%3E%3ClinearGradient id='a' x1='43.373' y1='-2.044' x2='359.034' y2='245.001' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FB9A9A' /%3E%3Cstop offset='.428' stop-color='%23FDA7FF' /%3E%3Cstop offset='1' stop-color='%23C9C0FF' /%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='162.5' y1='2' x2='162.5' y2='349.5' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23fff' /%3E%3Cstop offset='1' stop-color='%23fff' stop-opacity='0' /%3E%3C/linearGradient%3E%3C/svg%3E%0A");

$graphics: (
  site-logo:             $site-logo,
  sun:                   $sun,
  gradient-solar-system: $gradient-solar-system,
  plain-solar-system:    $plain-solar-system,
  gradient-square:       $gradient-square,
  );

//
/* Icons */
//
$lightning:             url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='26' height='26' fill='white'/%3E%3Cpath d='M13.6667 6.83337L7 14.8334H13L12.3333 20.1667L19 12.1667H13L13.6667 6.83337Z' stroke='#{svgColor($color-primary)}' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
$github:                url("data:image/svg+xml,%3Csvg width='23' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.308 2.246c-2.214 0-4.361.845-6.056 2.384-1.695 1.539-2.827 3.67-3.194 6.014-.368 2.344.054 4.746 1.19 6.778 1.134 2.031 2.909 3.559 5.006 4.31.465.087.642-.213.643-.475.002-.238-.006-1.025-.001-1.863-2.346.463-2.946-.612-3.13-1.174a3.61 3.61 0 00-.948-1.413c-.325-.187-.79-.65-.008-.662.298.035.583.146.832.324.249.179.453.419.596.7.126.246.297.463.502.637.204.175.44.304.691.38.252.077.516.1.776.067.261-.033.513-.12.743-.258a2.18 2.18 0 01.602-1.338c-2.074-.25-4.238-1.112-4.217-4.937a4.075 4.075 0 01.97-2.687 3.836 3.836 0 01.108-2.65s.782-.262 2.559 1.025a8.221 8.221 0 014.663 0c1.79-1.3 2.57-1.024 2.57-1.024.34.838.369 1.786.079 2.65.625.73.962 1.692.941 2.686-.02 3.837-2.205 4.687-4.281 4.937.22.242.39.533.498.852.107.319.148.66.121.998-.007 1.337-.024 2.412-.026 2.75-.002.262.171.575.638.475 2.101-.757 3.887-2.289 5.04-4.321a10.641 10.641 0 001.25-6.775c-.344-2.342-1.454-4.47-3.131-6.007-1.678-1.537-3.813-2.381-6.026-2.383z' fill='%23000'/%3E%3C/svg%3E");
$diamond-bg:            url("data:image/svg+xml,%3Csvg viewBox='0 0 100 25' preserveAspectRatio='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 13.75L50.5 0L100 13.75L50.5 25L0 13.75Z' fill='%23C4C4C4'/%3E%3C/svg%3E");
$codepen-3d:            url("data:image/svg+xml,%3Csvg viewBox='0 0 942 144' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath filter='url(%23f)' d='M817.5 30.25L858.75 57.0625V85.9375L817.5 112.75L776.25 85.9375V57.0625L817.5 30.25Z' /%3E%3Cpath filter='url(%23f)' d='M817.5 112.75V85.9375' /%3E%3Cpath filter='url(%23f)' d='M858.75 57.0625L817.5 85.9375L776.25 57.0625'/%3E%3Cpath filter='url(%23f)' d='M776.25 85.9375L817.5 57.0625L858.75 85.9375'/%3E%3Cpath filter='url(%23f)' d='M817.5 30.25V57.0625'/%3E%3Cpath filter='url(%23f)' d='M124.5 30.25L165.75 57.0625V85.9375L124.5 112.75L83.25 85.9375V57.0625L124.5 30.25Z'/%3E%3Cpath filter='url(%23f)' d='M124.5 112.75V85.9375'/%3E%3Cpath filter='url(%23f)' d='M165.75 57.0625L124.5 85.9375L83.25 57.0625'/%3E%3Cpath filter='url(%23f)' d='M83.25 85.9375L124.5 57.0625L165.75 85.9375'/%3E%3Cpath filter='url(%23f)' d='M124.5 30.25V57.0625'/%3E%3Cdefs%3E%3Cfilter id='f' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='1'/%3E%3CfeGaussianBlur stdDeviation='1'/%3E%3CfeComposite in2='hardAlpha' operator='arithmetic' k2='-1' k3='1'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.670588 0 0 0 0 0.121569 0 0 0 0 0.121569 0 0 0 0.61 0'/%3E%3CfeBlend mode='normal' in2='shape' result='effect1_innerShadow'/%3E%3C/filter%3E%3C/defs%3E%3Cstyle%3E path%7Bstroke:%23fff;stroke-width:4;stroke-linecap:round;stroke-linejoin:round%7D %3C/style%3E%3C/svg%3E");
$twitter:               url("data:image/svg+xml,%3Csvg width='18' height='18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.25 2.25a8.175 8.175 0 01-2.355 1.148A3.36 3.36 0 009 5.648v.75A7.995 7.995 0 012.25 3s-3 6.75 3.75 9.75a8.73 8.73 0 01-5.25 1.5c6.75 3.75 15 0 15-8.625 0-.209-.02-.417-.06-.622a5.79 5.79 0 001.56-2.753v0z' stroke='%23000' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
$github-outline:        url("data:image/svg+xml,%3Csvg width='18' height='18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.75 14.25C3 15.375 3 12.375 1.5 12M12 16.5v-2.902a2.529 2.529 0 00-.705-1.958c2.355-.262 4.83-1.155 4.83-5.25A4.08 4.08 0 0015 3.578 3.803 3.803 0 0014.932.75S14.047.488 12 1.86a10.035 10.035 0 00-5.25 0C4.702.488 3.817.75 3.817.75a3.803 3.803 0 00-.067 2.828 4.08 4.08 0 00-1.125 2.835c0 4.065 2.475 4.957 4.83 5.25a2.527 2.527 0 00-.705 1.935V16.5' stroke='%23000' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
$rss:                   url("data:image/svg+xml,%3Csvg width='18' height='18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 8.25A6.75 6.75 0 019.75 15M3 3a12 12 0 0112 12M3.75 15a.75.75 0 100-1.5.75.75 0 000 1.5z' stroke='%23000' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
$subscribe:             url("data:image/svg+xml,%3Csvg width='18' height='18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 15h6.75M12.375 2.625a1.591 1.591 0 112.25 2.25L5.25 14.25l-3 .75.75-3 9.375-9.375z' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E%0A");

$icons: (
  lightning:            $lightning,
  github:               $github,
  diamond-bg:           $diamond-bg,
  codepen-3d:           $codepen-3d,
  twitter:              $twitter,
  github-outline:       $github-outline,
  rss:                  $rss,
  subscribe:            $subscribe,
);

//
/* Animation clip-path */
//
$anim-fire-start:       path("M15.13 7.13c6 14.74-13 17.31-14.9 8.76C-1.3 8.91 5.29 6.06 6.57 1c1.08-4.21 7 5.68 5.76 8.29 1.06-.54 1.32-2.85 2.8-2.16z");
$anim-fire-end:         path("M15.09 7.67C20.67 24 1.89 24.09.19 16.43-1.29 9.71 6.27 8.15 4.58.9c-1-4.23 8.78 7.64 7.5 10.25 1.06-.57 1.53-4.15 3.01-3.48z");

$animations-path: (
fire-start:             $anim-fire-start,
fire-end:               $anim-fire-end,
);


//
/* CSS variable */
//
:root {
  @each $key, $color in $colors {
    --color-#{$key}: #{$color};
  }

  @each $key, $size in $font-sizes {
    --font-size-#{$key}: #{$size};
  }

  @each $key, $graphic in $graphics {
    --graphic-#{$key}: #{$graphic};
  }

  @each $key, $icon in $icons {
    --icon-#{$key}: #{$icon};
  }

  @each $key, $path in $animations-path {
    --anim-#{$key}: #{$path};
  }

}
