/*---------------------*/
/* >>>  Footer.scss  */
/*---------------------*/

.page-footer p:first-child {
  font-family: $space-mono;
  font-size: clamp(1.25rem, calc(.5rem + 2.5vw), 2.125rem);
  line-height: 1.6;
  color: black;
}

.page-footer .container {
  background-color: black;
  color: white;
}

.page-footer ul {
  padding-top: 2.5rem;
}

.page-footer ul li {
  margin-bottom: 1.25rem;
}

.page-footer ul a {
  display: flex;
  align-items: center;
  padding: .5rem;
  font-size: 1.125rem;
  letter-spacing: .09em;
  text-transform: uppercase;
  color: white;
}

.page-footer ul a:before {
  content: "";
  flex: 0 0 auto;
  display: inline-block;
  width: 1.75rem;
  height: 1.75rem;
  margin-right: 1rem;
  background-repeat: no-repeat;
  background-size: 1.125rem;
  background-position: center;
  background-color: white;
}

.page-footer ul li {
  &:nth-child(1) a:before {
    // Twitter
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.25 2.25a8.175 8.175 0 01-2.355 1.148A3.36 3.36 0 009 5.648v.75A7.995 7.995 0 012.25 3s-3 6.75 3.75 9.75a8.73 8.73 0 01-5.25 1.5c6.75 3.75 15 0 15-8.625 0-.209-.02-.417-.06-.622a5.79 5.79 0 001.56-2.753v0z' stroke='%23000' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  }

  &:nth-child(2) a:before {
    // Github
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.75 14.25C3 15.375 3 12.375 1.5 12M12 16.5v-2.902a2.529 2.529 0 00-.705-1.958c2.355-.262 4.83-1.155 4.83-5.25A4.08 4.08 0 0015 3.578 3.803 3.803 0 0014.932.75S14.047.488 12 1.86a10.035 10.035 0 00-5.25 0C4.702.488 3.817.75 3.817.75a3.803 3.803 0 00-.067 2.828 4.08 4.08 0 00-1.125 2.835c0 4.065 2.475 4.957 4.83 5.25a2.527 2.527 0 00-.705 1.935V16.5' stroke='%23000' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  }

  &:nth-child(3) a:before {
    // RSS
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 8.25A6.75 6.75 0 019.75 15M3 3a12 12 0 0112 12M3.75 15a.75.75 0 100-1.5.75.75 0 000 1.5z' stroke='%23000' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  }

  &:nth-child(4) a:before {
    // Subscribe
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 15h6.75M12.375 2.625a1.591 1.591 0 112.25 2.25L5.25 14.25l-3 .75.75-3 9.375-9.375z' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E%0A");
  }
}

.page-footer ul .link-github svg {
  display: none;
}


.page-footer p:nth-child(n + 2) {
  position: relative;
  border: 1px solid white;
  padding: 2.5rem .5rem 1.5rem .5rem;
  margin-bottom: 3rem;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1.5rem;
    height: 1.5rem;
    margin: .75rem;
    background: conic-gradient(from 160.09deg at 58.9% 73.55%, #FFCB14 -1.25deg, #EB1832 189.59deg, #FFCB14 358.75deg, #EB1832 549.59deg);
    clip-path: path("M15.13 7.13c6 14.74-13 17.31-14.9 8.76C-1.3 8.91 5.29 6.06 6.57 1c1.08-4.21 7 5.68 5.76 8.29 1.06-.54 1.32-2.85 2.8-2.16z");
    transition: clip-path 1s;
  }

  &:after:hover {
    clip-path: path("M15 10.37C26.16 27.35-1.89 26.72.1 19.13 2.38 10.43 4.74 7.91 4.77.86c0-4.35 8.71 9.1 7.43 11.7 1.06-.56 1.32-2.88 2.8-2.19z");

  }

  &:before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: 100%;
    height: 25px;
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h24L0 24V0z' fill='%23000'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M24.707.707l-24 24L0 24 24 0l.707.707z' fill='%23fff'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top left;
  }
}


.page-footer p:last-child {
  margin-bottom: 4rem;
}
