/*---------------------*/
/* >>>  Footer.scss  */
/*---------------------*/

.page-footer p:first-child {
  font-family: $space-mono;
  font-size: clamp(1.25rem, calc(.5rem + 2.5vw), 2.125rem);
  line-height: 1.6;
  color: black;
}

.page-footer .container {
  background-color: black;
  color: white;
}

.page-footer ul {
  padding-top: 2.5rem;
}

.page-footer ul li {
  margin-bottom: 1.25rem;
}

.page-footer ul a {
  display: flex;
  align-items: center;
  padding: .5rem;
  font-size: 1.125rem;
  letter-spacing: .09em;
  text-transform: uppercase;
  color: white;
}

.page-footer p:last-child {
  margin-bottom: 4rem;
}
