/*----------------------*/
/* >>>>>  Header.scss   */
/*----------------------*/

header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr clamp(80px, 20vw, 300px);
}

header:before {
  content: "";
  position: absolute;
  top: calc(-1 * clamp(1.75rem, 8vw, 4rem));
  left: 0;
  width: clamp(32px, 7vw, 60px);
  height: clamp(32px, 7vw, 60px);
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg width='58' height='58' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23a)'%3E%3Cpath d='M29 29h29V0H0v58h29V29z' fill='%23FDFAFF'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='a' x='0' y='0' width='58' height='62' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeColorMatrix in='SourceAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='4'/%3E%3CfeGaussianBlur stdDeviation='2'/%3E%3CfeComposite in2='hardAlpha' operator='arithmetic' k2='-1' k3='1'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend in2='shape' result='effect1_innerShadow'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  transform: translateY(-50%);
}

header:after {
  grid-column: 2;
  grid-row: 1;
  content: "";
  display: block;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg width='293' height='584' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 292c0 160.715 127.8 291 291 291V1C129.8 1 2 131.285 2 292z' fill='%23fff'/%3E%3Cpath d='M293 494.414c-112.259 0-203.263-90.848-203.263-202.914C89.737 179.434 180.74 88.586 293 88.586' fill='url(%23a)'/%3E%3Cpath d='M66.377 291.5C66.377 166.559 167.844 65.266 293 65.266' class='b'/%3E%3Cpath d='M293 517.734c-125.156 0-226.623-101.293-226.623-226.234' class='b c'/%3E%3Cpath d='M45.452 291.5C45.452 155.019 156.285 44.377 293 44.377' class='b'/%3E%3Cpath d='M293 538.623c-136.715 0-247.548-110.643-247.548-247.123' class='b c'/%3E%3Cpath d='M24.614 291.5C24.614 143.524 144.77 23.575 293 23.575' class='b'/%3E%3Cpath d='M293 559.425c-148.231 0-268.386-119.949-268.386-267.925' class='b c'/%3E%3Cpath d='M2 291.5C2 131.065 132.289 1 293 1' class='b'/%3E%3Cpath d='M293 582C132.289 582 2 451.935 2 291.5' class='b c'/%3E%3Cdefs%3E%3ClinearGradient id='a' x1='116.402' y1='83.863' x2='331.124' y2='287.48' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FB9A9A'/%3E%3Cstop offset='.428' stop-color='%23FDA7FF'/%3E%3Cstop offset='1' stop-color='%23C9C0FF'/%3E%3C/linearGradient%3E%3Cstyle%3E.b%7Bstroke:%231d262d;stroke-miterlimit:10%7D.c%7Bstroke-width:4%7D%3C/style%3E%3C/defs%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: right top;
  transform: translateY(-15%);
}

header .container {
  grid-column: 1 / 3;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  padding: clamp(2rem, 6vw, 6rem) 1rem clamp(10rem, 6vw, 6rem) clamp(2rem, 6vw, 6rem);
}

@media (min-width: 576px) {
  header .container {
  grid-column: 1;
  }
}

header h1,
header h2 {
max-width: 600px;
}

header h1 {
  margin-bottom: clamp(1.5rem, 3.5vw, 3rem);
}

header h2 {
  margin-bottom: clamp(1rem, 3vw, 2.5rem);
}

header p {
  flex-grow: 1;
  align-self: flex-end;
  order: 1; /* switch position with github button */
  max-width: 170px;
  text-align: right;
  font-size: clamp(.75rem, 2.5vw, 1.125rem);
}

header .link-github {
  align-self: flex-start;
  margin-bottom: clamp(2rem, 3vw, 3.5rem);
}
