/*-------------------*/
/* >>>>> Layout.scss */
/*-------------------*/

body {
  display: grid;
  grid-template-columns:  minmax(10px, 1fr) repeat(12, minmax(auto, 80px)) minmax(10px, 1fr);
  grid-template-rows: minmax(13vh, fit-content);
}
@media (min-width: 576px) {
  body {
    column-gap: 1rem;
  }
}

header {
  grid-column: 2 / 15;
  margin-top: clamp(3.5rem, 15vw, 8rem);
}



nav {
  grid-column: 3 / span 11;
  transform: translateY(-50%);
}

main {
grid-column: 1 / 14;
}

aside {
  grid-column: 1 / 14;
}

footer {
  grid-column: 1 / 15;
}
