nav {
  padding: clamp(1rem, 3vw,  3.5rem) clamp(.5rem, 1.5vw,  2rem);
  background: #F6F6F6;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav a {
  padding: 0.5rem .75em;
  text-decoration: none;
}

nav li {
  margin: 0.25rem;
}
