nav {
  padding: clamp(1rem, 3vw,  3.5rem) clamp(0px, 1vw,  2rem); // 0px should be unitless but somehow without unit it is not valid
  background: #F6F6F6;
}

nav ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  margin: 0;
  padding: 0;
  list-style: none;
}

nav a {
  padding: 0.5rem .75em;
  text-decoration: none;
}

nav li {
  margin: 0.25rem;
}
