@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Space+Mono:ital@0;1&display=swap");
/*-------------------*/
/* >>>> Theme.scss   */
/*-------------------*/
:root {
  --color-primary: #3a00ff;
  --color-secondary: #d42257;
  --color-background: #d2fbf7;
  --color-text-link-color: #DD2471;
  --font-size-h2: 3rem;
  --font-size-h3: 2rem;
  --font-size-h4: 1.35rem;
  --font-size-text: 1.15rem;
  --border-radius: 8px;
}

/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*-------------------------*/
/* >>>> Typographie.scss   */
/*-------------------------*/
body {
  font-family: "Inter", sans-serif;
}

h1 {
  font-family: "Space Mono", monospace;
  font-style: italic;
  font-size: clamp(2rem, 6vw, 4.5rem);
  letter-spacing: 0.07em;
  margin-bottom: clamp(1rem, 3.5vw, 3rem);
}

h2 {
  font-family: "Space Mono", monospace;
  font-size: clamp(1.25rem, 3vw, 2rem);
  line-height: 1.4;
  color: #A132E5;
}

#main h2 {
  background-color: var(--color-secondary);
  align-self: center;
  color: var(--color-background);
  padding: 0.25em 0.5em;
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

p,
li {
  font-size: var(--font-size-text);
}

p {
  margin: 0 0 1rem;
}

article .container > ul:not(.features) > li + li,
article .container > ol > li + li {
  margin-top: 1rem;
}
article .container * + h2 {
  margin-top: 4rem;
}
article .container * + h3 {
  margin-top: 2rem;
}

strong {
  font-weight: var(--font-weight-strong);
}

a {
  color: var(--color-anchor);
}

blockquote {
  position: relative;
  display: grid;
  grid-template-areas: "blockquote";
  place-items: center;
  padding: 0;
  margin: 3rem 0;
  color: var(--color-primary);
}
blockquote > * {
  grid-area: blockquote;
}
blockquote p {
  position: relative;
  font-size: var(--font-size-h4);
  margin-bottom: 0;
  padding: 0.5em;
}
blockquote p strong {
  font-size: 1.15em;
}
blockquote::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 4px solid var(--color-primary);
  box-shadow: 0.25em 0.25em var(--color-secondary);
  transform: scale(1.1);
  content: "";
}
blockquote::after {
  grid-area: blockquote;
  color: #6f6ffd;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 199.1 111.3'%3E%3Cpath fill='%23rimary-alt' d='M118 77a77 77 0 00-2-18c-2-4-3-9-3-13a29 29 0 011-12 19 19 0 017-9c4-3 8-4 13-3a14 14 0 018 7 31 31 0 012 5 75 75 0 005 10 47 47 0 002 5 17 17 0 003 3c4 4 8 4 13 0a15 15 0 005-8 37 37 0 001-7l1-11a18 18 0 014-11 2 2 0 000-3l-3-3-2-3a2 2 0 011-2 11 11 0 012-1l19-3c4 0 5 1 3 5l-7 16c-1 3-2 3-5 1l-4-5a1 1 0 00-1 0 9 9 0 00-3 5 23 23 0 00-1 6l-1 11a26 26 0 01-1 7 18 18 0 01-8 10c-5 3-9 3-13 0a20 20 0 01-6-6 68 68 0 01-6-13l-2-4a18 18 0 00-2-4 10 10 0 00-14-2 15 15 0 00-4 4 19 19 0 00-3 9 32 32 0 000 11l2 6a78 78 0 012 27 32 32 0 01-4 15 24 24 0 01-11 9 33 33 0 01-19 3 16 16 0 01-13-9 29 29 0 01-3-11 70 70 0 012-18l2-14a33 33 0 000-14c-1-4-4-7-8-7-7-1-14 1-19 6a34 34 0 00-6 9 59 59 0 00-4 10l-3 12-2 6a26 26 0 01-5 8 17 17 0 01-16 6 26 26 0 01-10-4 7 7 0 01-2-1 2 2 0 010-2 2 2 0 012 0l3 1a22 22 0 0010 3 13 13 0 009-4 22 22 0 005-6 41 41 0 003-8l3-12a59 59 0 015-13 31 31 0 017-9c6-5 14-7 22-5a12 12 0 019 7 21 21 0 011 7 57 57 0 01-2 17 132 132 0 00-2 16 37 37 0 000 13 27 27 0 002 5 13 13 0 0011 8 30 30 0 0016-3 22 22 0 0010-10c3-4 3-9 4-13v-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  place-self: end;
  content: "Ooh, scale()!";
  background-size: 90%;
  width: 10ch;
  padding-top: 3.25em;
  transform: translate(25%, 50%) rotate(-5deg);
  transform-origin: bottom right;
}
@media (max-width: 60rem) {
  blockquote::after {
    transform: translate(25%, 55%) rotate(-5deg);
  }
}

#guidelines p:nth-of-type(1),
#contribute p:nth-of-type(1) {
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-strong);
}

body {
  display: grid;
  grid-template-columns: minmax(10px, 1fr) repeat(12, minmax(auto, 80px)) minmax(10px, 1fr);
  grid-template-rows: minmax(13vh, fit-content);
  grid-template-rows: auto;
  column-gap: 8px;
}

header {
  grid-column: 2/15;
  margin-top: clamp(3.5rem, 15vw, 8rem);
  background: linear-gradient(130.1deg, rgba(251, 154, 154, 0.3) 6.59%, rgba(253, 167, 255, 0.3) 43.21%, rgba(201, 192, 255, 0.3) 92.14%);
  /*
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%233a00ff' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"),
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23d42257' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: repeat-x;
  background-position: 0 -38px, 17px -40px;
  */
}

nav {
  grid-column: 3/span 11;
  transform: translateY(-50%);
}

aside {
  grid-column: span 14;
}

footer {
  grid-column: span 14;
}

main {
  grid-column: span 14;
}
main:focus {
  outline: none;
}
main h3 {
  color: var(--color-primary);
}

article section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

article .container,
.page-footer .container,
#styles .container {
  width: 100%;
  max-width: 80ch;
  margin-right: auto;
  margin-left: auto;
}

article,
#styles {
  padding: 1rem;
}

.page-footer ul,
.features {
  display: grid;
  margin: 0 0 2rem;
  padding: 0;
  grid-gap: 1em;
  list-style: none;
}

/*----------------------*/
/* >>>>>  Header.scss   */
/*----------------------*/
header {
  position: relative;
  display: flex;
  justify-content: space-between;
}

header:before {
  content: "";
  position: absolute;
  top: calc(-1 * clamp(1.75rem, 8vw, 4rem));
  /* invert value out of clamp() because it works only with positive value */
  left: 0;
  width: clamp(32px, 7vw, 60px);
  height: clamp(32px, 7vw, 60px);
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg width='58' height='58' viewBox='0 0 58 58' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_i)'%3E%3Cpath d='M58 -1.0141e-05L0 0L1.0141e-05 58L29 58L29 28.0175L58 28.0175L58 -1.0141e-05Z' fill='%23FDFAFF'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_i' x='0' y='0' width='58' height='62' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='4'/%3E%3CfeGaussianBlur stdDeviation='2'/%3E%3CfeComposite in2='hardAlpha' operator='arithmetic' k2='-1' k3='1'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend mode='normal' in2='shape' result='effect1_innerShadow'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  transform: translateY(-50%);
}

header:after {
  content: "";
  display: block;
  flex: 0 0 clamp(80px, 20vw, 300px);
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg width='293' height='584' viewBox='0 0 293 584' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 292C2 452.715 129.8 583 293 583V1C129.8 1 2 131.285 2 292Z' fill='white'/%3E%3Cpath d='M293 494.414C180.741 494.414 89.7365 403.566 89.7365 291.5C89.7365 179.434 180.741 88.5857 293 88.5857' fill='url(%23paint0_linear)'/%3E%3Cpath d='M66.3767 291.5C66.3767 166.559 167.844 65.266 293 65.266' stroke='%231D262D' stroke-miterlimit='10'/%3E%3Cpath d='M293 517.734C167.844 517.734 66.3767 416.441 66.3767 291.5' stroke='%231D262D' stroke-width='4' stroke-miterlimit='10'/%3E%3Cpath d='M45.4515 291.5C45.4515 155.019 156.285 44.3768 293 44.3768' stroke='%231D262D' stroke-miterlimit='10'/%3E%3Cpath d='M293 538.623C156.285 538.623 45.4515 427.98 45.4515 291.5' stroke='%231D262D' stroke-width='4' stroke-miterlimit='10'/%3E%3Cpath d='M24.6143 291.5C24.6143 143.524 144.769 23.5752 293 23.5752' stroke='%231D262D' stroke-miterlimit='10'/%3E%3Cpath d='M293 559.425C144.769 559.425 24.6143 439.476 24.6143 291.5' stroke='%231D262D' stroke-width='4' stroke-miterlimit='10'/%3E%3Cpath d='M2 291.5C2 131.065 132.289 1 293 1' stroke='%231D262D' stroke-miterlimit='10'/%3E%3Cpath d='M293 582C132.289 582 2 451.935 2 291.5' stroke='%231D262D' stroke-width='4' stroke-miterlimit='10'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='116.402' y1='83.8627' x2='331.124' y2='287.48' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FB9A9A'/%3E%3Cstop offset='0.428054' stop-color='%23FDA7FF'/%3E%3Cstop offset='1' stop-color='%23C9C0FF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  transform: translateY(-15%);
}

header .container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  padding-top: clamp(2rem, 6vw, 6rem);
  padding-bottom: clamp(2rem, 6vw, 6rem);
  padding-right: 0;
  padding-left: clamp(2rem, 6vw, 6rem);
}

header h1,
header h2 {
  max-width: 600px;
}

header p {
  flex-grow: 1;
  align-self: flex-end;
  order: 1;
  /* switch position with github button */
  max-width: 170px;
  text-align: right;
  font-size: clamp(0.75rem, 2.5vw, 1.125rem);
}

header .link-github {
  align-self: flex-start;
}

nav {
  padding: clamp(1rem, 3vw, 3.5rem) clamp(0.5rem, 1.5vw, 2rem);
  background: #F6F6F6;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav a {
  padding: 0.5rem 0.75em;
  text-decoration: none;
}

nav li {
  margin: 0.25rem;
}

.page-footer {
  --logomark-height: 2em;
  --logomark-padding: 0;
  position: relative;
  padding: 3rem 1rem;
  background-color: var(--color-primary);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23d2fbf7' fill-opacity='1'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: repeat-x;
  background-position: center -34px;
  color: var(--color-light);
}
.page-footer p:first-child {
  margin-top: 3rem;
  font-weight: var(--font-weight-strong);
  letter-spacing: 0.03em;
  text-align: center;
}
.page-footer p a {
  color: inherit;
}
.page-footer ul {
  grid-template-columns: repeat(auto-fit, minmax(12ch, auto));
}
.page-footer .container > :last-child {
  margin-bottom: 0;
}

/*---------------------*/
/* >>>  Butttons.scss  */
/*---------------------*/
p > a {
  text-decoration: none;
  color: #DD2471;
}

.skip-link {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  background-color: var(--color-secondary);
  color: #fff;
  font-size: 1.125rem;
  overflow: hidden;
  z-index: 1;
}
.skip-link:focus {
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  padding: 0.5em;
}

.link-github {
  display: flex;
  align-items: center;
  margin-left: -0.5em;
  font-family: "Space Mono", monospace;
  font-size: clamp(1rem, 3vw, 1.5rem);
  text-decoration: none;
}

.link-github:after {
  content: "";
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 0.246704C7.6255 0.246803 5.32849 1.09182 3.51999 2.63055C1.71149 4.16929 0.509528 6.30133 0.12916 8.64519C-0.251207 10.989 0.214845 13.3918 1.44393 15.4235C2.67301 17.4551 4.58491 18.9832 6.83755 19.7342C7.33755 19.8217 7.52505 19.5217 7.52505 19.2592C7.52505 19.0217 7.51254 18.2342 7.51254 17.3967C5.00003 17.8592 4.35003 16.7842 4.15003 16.2217C3.9281 15.6747 3.5763 15.1899 3.12503 14.8092C2.77503 14.6217 2.27503 14.1592 3.11252 14.1467C3.4323 14.1814 3.73901 14.2927 4.00666 14.4711C4.2743 14.6495 4.49499 14.8899 4.65003 15.1717C4.7868 15.4174 4.97071 15.6337 5.19122 15.8082C5.41173 15.9827 5.6645 16.112 5.93506 16.1886C6.20562 16.2652 6.48864 16.2877 6.76791 16.2548C7.04717 16.2219 7.3172 16.1342 7.56251 15.9967C7.6058 15.4883 7.83237 15.013 8.20003 14.6592C5.97503 14.4092 3.65003 13.5467 3.65003 9.72173C3.63597 8.72788 4.00271 7.76631 4.67503 7.03423C4.36931 6.17045 4.40508 5.22252 4.77503 4.38423C4.77503 4.38423 5.6125 4.12172 7.52503 5.40923C9.16131 4.95921 10.8887 4.95921 12.525 5.40923C14.4375 4.10923 15.275 4.38423 15.275 4.38423C15.645 5.22251 15.6808 6.17046 15.375 7.03423C16.0494 7.76506 16.4164 8.72747 16.4 9.72173C16.4 13.5592 14.0625 14.4092 11.8375 14.6592C12.0762 14.9011 12.26 15.1915 12.3764 15.5107C12.4929 15.83 12.5393 16.1705 12.5125 16.5092C12.5125 17.8468 12.5 18.9217 12.5 19.2592C12.5 19.5217 12.6875 19.8342 13.1875 19.7342C15.4362 18.9771 17.3426 17.4455 18.5664 15.4128C19.7903 13.38 20.2519 10.9785 19.8689 8.63694C19.4859 6.29535 18.2832 4.16608 16.4755 2.62922C14.6678 1.09235 12.3727 0.247939 10 0.246704V0.246704Z' fill='black'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: 100%;
}

.link-github span {
  display: grid;
  place-items: center;
}

.link-github svg,
.link-github:after {
  width: 24px;
  height: 24px;
  margin: 0.5em;
}

/*!
  * SVGs from Hero Patterns
  * @link http://www.heropatterns.com/
  */
.features.patterned li {
  background-color: var(--color-secondary);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23fff' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
@media (min-width: 515px) and (max-width: 765px) {
  .features.patterned li:nth-last-child(1):nth-child(odd) {
    grid-column: span 2;
  }
}
.features.patterned li:nth-child(2) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='24' viewBox='0 0 88 24'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='autumn' fill='%23fff' fill-opacity='0.4'%3E%3Cpath d='M10 0l30 15 2 1V2.18A10 10 0 0 0 41.76 0H39.7a8 8 0 0 1 .3 2.18v10.58L14.47 0H10zm31.76 24a10 10 0 0 0-5.29-6.76L4 1 2 0v13.82a10 10 0 0 0 5.53 8.94L10 24h4.47l-6.05-3.02A8 8 0 0 1 4 13.82V3.24l31.58 15.78A8 8 0 0 1 39.7 24h2.06zM78 24l2.47-1.24A10 10 0 0 0 86 13.82V0l-2 1-32.47 16.24A10 10 0 0 0 46.24 24h2.06a8 8 0 0 1 4.12-4.98L84 3.24v10.58a8 8 0 0 1-4.42 7.16L73.53 24H78zm0-24L48 15l-2 1V2.18A10 10 0 0 1 46.24 0h2.06a8 8 0 0 0-.3 2.18v10.58L73.53 0H78z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.features.patterned li:nth-child(3) {
  background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23fff' fill-opacity='0.4'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.features.patterned::after {
  position: absolute;
  bottom: -4.5em;
  width: 10ch;
  padding-top: 3em;
  transform: rotate(-15deg);
  transform-origin: bottom right;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 199.1 111.3'%3E%3Cpath fill='%23rimary-alt' d='M118 77a77 77 0 00-2-18c-2-4-3-9-3-13a29 29 0 011-12 19 19 0 017-9c4-3 8-4 13-3a14 14 0 018 7 31 31 0 012 5 75 75 0 005 10 47 47 0 002 5 17 17 0 003 3c4 4 8 4 13 0a15 15 0 005-8 37 37 0 001-7l1-11a18 18 0 014-11 2 2 0 000-3l-3-3-2-3a2 2 0 011-2 11 11 0 012-1l19-3c4 0 5 1 3 5l-7 16c-1 3-2 3-5 1l-4-5a1 1 0 00-1 0 9 9 0 00-3 5 23 23 0 00-1 6l-1 11a26 26 0 01-1 7 18 18 0 01-8 10c-5 3-9 3-13 0a20 20 0 01-6-6 68 68 0 01-6-13l-2-4a18 18 0 00-2-4 10 10 0 00-14-2 15 15 0 00-4 4 19 19 0 00-3 9 32 32 0 000 11l2 6a78 78 0 012 27 32 32 0 01-4 15 24 24 0 01-11 9 33 33 0 01-19 3 16 16 0 01-13-9 29 29 0 01-3-11 70 70 0 012-18l2-14a33 33 0 000-14c-1-4-4-7-8-7-7-1-14 1-19 6a34 34 0 00-6 9 59 59 0 00-4 10l-3 12-2 6a26 26 0 01-5 8 17 17 0 01-16 6 26 26 0 01-10-4 7 7 0 01-2-1 2 2 0 010-2 2 2 0 012 0l3 1a22 22 0 0010 3 13 13 0 009-4 22 22 0 005-6 41 41 0 003-8l3-12a59 59 0 015-13 31 31 0 017-9c6-5 14-7 22-5a12 12 0 019 7 21 21 0 011 7 57 57 0 01-2 17 132 132 0 00-2 16 37 37 0 000 13 27 27 0 002 5 13 13 0 0011 8 30 30 0 0016-3 22 22 0 0010-10c3-4 3-9 4-13v-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 90%;
  color: var(--color-primary-alt);
  font-size: 0.9rem;
  content: "Grid FTW!";
}
