/*---------------------*/
/* >>>  Butttons.scss  */
/*---------------------*/

p  > a:not([class^="link-"]),
li > a:not([class^="link-"]) {
  text-decoration: none;
  color: $text-link-color;
  @include gradient-primary(.5);
  background-repeat: no-repeat;
  background-size: 100% 0;
  background-position-y: bottom;
  transition: background-size .2s;
  &:hover {
    background-size: 100% .3em;
  }
}

.skip-link {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  background-color: var(--color-secondary);
  color: #fff;
  font-size: 1.125rem;
  overflow: hidden;
  z-index: 1;

  &:focus {
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    padding: 0.5em;
  }
}

header .link-github {
  display: flex;
  align-items: center;
  margin-left: -.5em;
  font-family: $space-mono;
  font-size: clamp(1rem, 3vw, 1.5rem);
  text-decoration: none;

  &:after {
    content: "";
    display: block;
    background-image: var(--icon-github);
    background-repeat: no-repeat;
    background-size: 100%;
  }

  & span {
    display: grid;
    place-items: center;
  }

  & svg,
  &:after {
    width: 24px;
    height: 24px;
    margin: .5em;
  }
}


.link-guidelines,
.link-downloadcss,
.link-downloadhtml,
.link-allstyles {
  position: relative;
  padding: .675em .875em;
  color: $color-primary;
  font-family: $space-mono;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .05em;
  text-decoration: none;
  border: 1px solid black;
  background-color: white;
  box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.15);

  &:before {
    content: "";
    display: block;
    position: absolute;
    left: -25px;
    top: -11px;
    width: calc(100% + 50px);
    height: calc(100% + 22px);
    background-image: var(--icon-diamond-bg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1;
    }
}

.link-codepen {
  position: relative;
  padding: 1rem;
  height: 10rem;
  width: 100%;
  color: transparent;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25);
  @include gradient-primary(1);
 // background: linear-gradient(91.36deg, #FFC9C9 0%, #F0CFFF 100%);
  background-clip: content-box;

  &:before, &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
  }

  &:before {
    background-image: var(--icon-codepen-3d);
    background-size: 100% 100%;
  }

  &:after {
    content: "Fork the codepen";
    color: #7D1515;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1.5rem;
    font-size: clamp(1rem, calc(.25rem + 2vw), 1.25rem );
    font-family: $space-mono;
    text-align: center;
    letter-spacing: .4em;
    text-transform: uppercase;
    text-decoration: none;
    /* corner top left */
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0L38 0L0 38L0 0Z' fill='white'/%3E%3Cpath filter='url(%23f)' d='M60 0H38L0 38V60L60 0Z' fill='white'/%3E%3Cdefs%3E%3Cfilter id='f' x='0' y='0' width='62' height='62' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dx='2' dy='2'/%3E%3CfeGaussianBlur stdDeviation='2'/%3E%3CfeComposite in2='hardAlpha' operator='arithmetic' k2='-1' k3='1'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend mode='normal' in2='shape' result='effect1_innerShadow'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
    background-size: 4rem 4rem;
  }
}

// footer link

.page-footer ul a {
  text-decoration: none;
  letter-spacing: .09em;

  &:hover {
    background:grey;
    color: $color-primary;
  }
}

.page-footer ul a:before {
  content: "";
  flex: 0 0 auto;
  display: inline-block;
  width: 1.75rem;
  height: 1.75rem;
  margin-right: 1rem;
  background-repeat: no-repeat;
  background-size: 1.125rem;
  background-position: center;
  background-color: white;
}

.page-footer ul li {
  &:nth-child(1) a:before {
    // Twitter
    background-image: var(--icon-twitter);
  }

  &:nth-child(2) a:before {
    // Github
    background-image: var(--icon-github-outline);
  }

  &:nth-child(3) a:before {
    // RSS
    background-image: var(--icon-rss);
  }

  &:nth-child(4) a:before {
    // Subscribe
    background-image: var(--icon-subscribe);
  }
}

.page-footer ul .link-github svg {
  display: none;
}
