/*-------------------------*/
/* >>>> Typographie.scss   */
/*-------------------------*/

body {
  font-family: $sans-serif;
}

h1 {
  font-family: $space-mono;
  font-style: italic;
  font-size: clamp(2rem, 6vw, 4.5rem);
  letter-spacing: .07em;
}

h2 {
  font-family: $space-mono;
  font-size: clamp(1.25rem, 3vw, 2rem);
  font-weight: 400;
  line-height: 1.4;
  color: #A132E5;
  // not yet supported unfortunetly
  // font-feature-settings: 'ss02' on;
}

#main h2 {
  font-family: $space-mono;
  font-style: italic;
  font-size: clamp(1.5rem, calc(2vw + .75rem), 2.25rem); //will grow from 600vw to 1200vw (assuming browser is set to default for font-size and zoom)
  line-height: 1.2;
  color: black;
}

h3 {
  font-size: var(--font-size-h3);
  font-family: $space-mono;
  font-weight: normal;
  text-transform: uppercase;
}

#contribute h3 {
  font-size: 1.125rem;
  font-family: $sans-serif;
  letter-spacing: .04em;
  font-weight: 300;
  color: #595959;
}

h4 {
  font-size: var(--font-size-h4);
}

p,
li {
  font-size: 1.125rem;
  line-height: 1.6;
}

p {
  margin: 0 0 1rem;
}

article .container {
  * {
    + h2 {
      margin-top: 4rem;
    }

    + h3 {
      margin-top: 2rem;
    }
  }
}

strong {
  font-weight: var(--font-weight-strong);
}

a {
  color: var(--color-anchor);
}

blockquote {
  margin: 0;
}

blockquote p {
  font-size: 1.125rem;
  font-weight: 520;
  line-height: 1.7;
  color: #493754;
}


blockquote strong {
  display: block;
  width: 1em; // to make a line-break in white-space
  margin-bottom: .5em;
  font-family: $space-mono;
  font-weight: 700;
  font-style: italic;
  font-size: 1.25rem;
  line-height: 1.2;
  color: $color-secondary;
}

#about {
  ul {
    list-style-type: none;
  }

  ul li {
    font-family: $space-mono;
    font-size: .875rem;
    letter-spacing: .09em;
    text-transform: uppercase;
    background-color: #F8F8F8;
  }
}

#guidelines section:before {
  color: transparent;
  background-color: rgba($color: black, $alpha: .1);;
  background-clip: text;
  text-shadow: 0px 2px 5px white;
  -webkit-text-stroke: 1px #ECECEC;
}


#guidelines,
#contribute {
  section:first-child p:nth-of-type(1) {
    font-weight: 300;
    font-style: italic;
    font-size: 1.375rem;
    line-height: 1.6;
  }

  ol {
    list-style-type: upper-roman;
  }

  ol li::marker {
    color: red;
    font-size: 1.25rem;
    vertical-align: bottom;
  }
}
